/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioMain, .portfolioItem__link, .headerMain, .pagination--summary__list, .navHeader__list, .portfolioItem__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 9, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioItem__link, .portfolioItem__caption {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 13, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioMain {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

/* line 17, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.headerMain {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 21, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioItem__caption {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* line 25, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioItem__caption {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 37, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_flexbox.scss */
.portfolioItem__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_utilities.scss */
html, body {
  height: 100%;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 20px; }

/* line 32, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/01-extends/_utilities.scss */
.article__info:after {
  display: table;
  clear: both;
  content: ''; }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_general.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

/* line 15, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_general.scss */
body {
  background-color: #f9f9f9;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300;
  color: #333; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_general.scss */
::-moz-selection {
  color: inherit;
  background: rgba(255, 99, 71, 0.2);
  text-shadow: none; }
::selection {
  color: inherit;
  background: rgba(255, 99, 71, 0.2);
  text-shadow: none; }

/* line 32, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_general.scss */
::-moz-selection {
  color: inherit;
  background: rgba(255, 99, 71, 0.2);
  text-shadow: none; }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
.bodyLayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 11, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
.headerMain {
  align: center;
  padding: 36px 18px; }

/* line 18, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
.pagination--summary__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 576px) {
    /* line 18, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
    .pagination--summary__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

/* line 30, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
.bodyLayout {
  padding: 0 18px;
  width: 100%;
  max-width: 63.29em;
  margin: 0 auto; }
  @media screen and (min-width: 576px) {
    /* line 30, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
    .bodyLayout {
      width: 80%; } }

/* line 41, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/02-base/_layout.scss */
.contentMain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0; }

/* line 1, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_links.scss */
a {
  text-decoration: none;
  color: inherit; }
  /* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_links.scss */
  a:hover, a:active, a:focus {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #FF6347; }

/* line 13, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_links.scss */
.currentPage {
  color: #FF6347;
  font-weight: 700; }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_lists.scss */
ul > li {
  display: inline;
  margin-right: 18px; }
  /* line 8, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_lists.scss */
  ul > li:last-child {
    margin: 0; }

/* line 13, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_lists.scss */
li {
  list-style-type: none; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--1 {
  font-size: 4.768em;
  font-family: Playfair Display, serif;
  color: #333;
  font-weight: 700; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--2, .intro {
  font-size: 3.052em;
  font-family: Lato, Helvetica, sans-serif;
  color: #333;
  font-weight: 300; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--3 {
  font-size: 1.758em;
  font-family: Playfair Display, serif;
  color: #333;
  font-weight: 300; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--4, .pagination--summary__title, .articlesMain__heading, .portfolioItem__name, .portfolioItem__caption {
  font-size: 1.758em;
  font-family: Lato, Helvetica, sans-serif;
  color: #333;
  font-weight: 700; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--5, .article__description {
  font-size: 1.25em;
  font-family: Lato, Helvetica, sans-serif;
  color: #333;
  font-weight: 300; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--6 {
  font-size: 0.9em;
  font-family: Playfair Display, serif;
  color: #333;
  font-weight: 300; }

/* line 26, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--7, .time__title,
.tags__title, .pagination--summary__heading, .articlesMain .date, .portfolioItem__tags {
  font-size: 0.64em;
  font-family: Lato, Helvetica, sans-serif;
  color: #ccc;
  font-weight: 700;
  text-transform: uppercase; }

/* line 38, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
.scale--7, .time__title,
.tags__title, .pagination--summary__heading, .articlesMain .date, .portfolioItem__tags {
  letter-spacing: 1px; }

/* line 43, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/03-atoms/_text.scss */
p a {
  font-weight: 600; }

/* line 15, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__info, .article__body, .articlesMain {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 768px) {
    /* line 15, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__info, .article__body, .articlesMain {
      width: 70%;
      max-width: 650px; } }

/* line 25, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__info {
  margin: 0 auto 18px auto; }
  @media screen and (max-width: 430px) {
    /* line 25, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__info {
      margin: 0; } }

/* line 35, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__body {
  line-height: 1.736; }
  /* line 39, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
  .article__body > p {
    margin-bottom: 1em; }
    /* line 41, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__body > p:last-child {
      margin-bottom: 2em; }

/* line 51, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__title {
  font-family: "Playfair Display", serif;
  width: 100%;
  text-align: center;
  font-size: 4.292em;
  line-height: .85;
  margin-bottom: .25em; }
  @media screen and (min-width: 905px) {
    /* line 51, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__title {
      max-width: 90%;
      line-height: .99;
      margin-bottom: 36px;
      text-align: left; } }
  @media screen and (max-width: 430px) {
    /* line 51, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__title {
      font-size: 2em; } }

/* line 71, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__meta {
  min-width: 4.768em;
  float: none;
  display: block;
  margin-bottom: 18px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    /* line 71, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__meta {
      float: left;
      margin: 16px 36px 0 -20%;
      padding-top: 9px;
      border-top: 4px solid #ccc;
      text-align: left; } }
  @media screen and (max-width: 430px) {
    /* line 71, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__meta {
      margin-bottom: 18px;
      text-align: center; } }

/* line 92, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.article__description {
  font-family: "Playfair Display", serif;
  color: #999;
  margin-bottom: 18px;
  line-height: 1.5;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 18px; }
  @media screen and (min-width: 768px) {
    /* line 92, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__description {
      font-size: 1.25em;
      border: 0; } }
  @media screen and (max-width: 430px) {
    /* line 92, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .article__description {
      font-family: "Lato", Helvetica, sans-serif;
      font-style: italic;
      text-align: center; } }

/* line 113, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.time__title,
.tags__title {
  margin-bottom: 5px; }
  @media screen and (max-width: 768px) {
    /* line 113, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .time__title,
    .tags__title {
      display: inline;
      font-family: "Playfair Display", serif;
      font-size: .8em;
      color: #666;
      font-weight: 200;
      text-transform: capitalize; } }
  @media screen and (max-width: 430px) {
    /* line 113, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .time__title,
    .tags__title {
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Lato", Helvetica, sans-serif; } }

/* line 134, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.date,
.tags__item {
  font-family: "Playfair Display", serif;
  font-size: .8em;
  color: #666; }
  @media screen and (max-width: 430px) {
    /* line 134, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .date,
    .tags__item {
      font-family: "Lato", Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      color: #999; } }
  @media screen and (max-width: 768px) {
    /* line 134, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .date,
    .tags__item {
      display: inline; }
      /* line 149, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
      .date:after,
      .tags__item:after {
        display: '\002C'; } }

/* line 155, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.time {
  margin-bottom: 18px; }
  @media screen and (max-width: 768px) {
    /* line 155, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .time {
      margin-bottom: 0; } }

/* line 167, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.pagination--summary {
  border-top: 1px solid #e0e0e0;
  padding: 36px 18px; }
  /* line 171, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
  .pagination--summary .time {
    margin-bottom: 0; }

/* line 176, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.pagination--summary--next {
  text-align: right;
  border-left: 1px solid #e0e0e0; }
  @media screen and (max-width: 430px) {
    /* line 176, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .pagination--summary--next {
      border-left: 0;
      border-top: 1px solid #e0e0e0;
      padding-top: 18px; } }

/* line 196, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.pagination--summary__heading {
  margin-bottom: 1em; }
  @media screen and (max-width: 430px) {
    /* line 196, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .pagination--summary__heading {
      margin: 0; } }

/* line 209, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.pagination--summary--next, .pagination--summary--prev {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  @media screen and (max-width: 430px) {
    /* line 209, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
    .pagination--summary--next, .pagination--summary--prev {
      text-align: center; }
      /* line 215, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
      .pagination--summary--next .pagination--summary__title, .pagination--summary--prev .pagination--summary__title,
      .pagination--summary--next .time,
      .pagination--summary--prev .time {
        display: none; } }

/* line 233, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__item {
  margin-bottom: 2em; }

/* line 237, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__link {
  display: block; }

/* line 241, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__bodyLink {
  display: block;
  color: #FF6347;
  line-height: 1.736; }

/* line 247, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__header {
  margin-bottom: .5em; }

/* line 251, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__heading {
  margin-bottom: .2em; }

/* line 256, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
.articlesMain__description {
  color: #333;
  text-decoration: none;
  line-height: 1.736; }
  /* line 260, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_articles.scss */
  .articlesMain__description > p {
    margin-bottom: 1em; }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_navHeader.scss */
.navHeader__list {
  padding-top: 1px; }

/* line 10, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_navHeader.scss */
.navHeader__item {
  list-style-type: none;
  display: inline;
  font-size: 0.889em; }

/* line 16, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_navHeader.scss */
.navHeader__link {
  color: #666; }
  /* line 18, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_navHeader.scss */
  .navHeader__link:hover {
    color: #FF6347; }

/* line 1, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.portfolioMain {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 40em; }

/* line 10, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.portfolioItem__link {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 3em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }
  /* line 17, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
  .portfolioItem__link img {
    width: 100%; }
  @media screen and (min-width: 700px) {
    /* line 10, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
    .portfolioItem__link {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%; } }

/* line 34, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.portfolioItem__imageContainer {
  position: relative; }

/* line 38, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.portfolioItem__caption {
  font-size: 1.2em;
  background: rgba(255, 99, 71, 0.85);
  color: #f9f9f9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 1; }
  /* line 56, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
  .portfolioItem__caption:hover {
    opacity: 1; }

/* line 61, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.portfolioItem__break {
  width: 2.17em;
  margin: 18px 0 9px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0; }

/* line 68, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
.intro {
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (max-width: 450px) {
    /* line 68, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/04-molecules/_portfolio.scss */
    .intro {
      font-size: 1.75em;
      line-height: 1.25; } }

/* line 5, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.headerMain {
  border-bottom: 1px solid #e0e0e0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

/* line 11, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.headerName {
  font-size: 1em;
  font-weight: 700; }

/* line 16, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.headerName__link {
  color: #333; }

/* line 24, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.footerMain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #e0e0e0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  align: center;
  padding: 36px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  /* line 34, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
  .footerMain a {
    margin-bottom: 18px; }

/* line 39, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.footerText {
  font-size: .8em;
  color: #666;
  line-height: 1.5;
  text-transform: none;
  font-weight: 200;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 1em auto; }
  /* line 49, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
  .footerText a {
    font-weight: 600; }

/* line 54, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
.icon {
  display: inline-block;
  margin-right: 1em;
  padding-bottom: 18px;
  fill: #999;
  display: block; }
  /* line 61, /Users/alejandra/Desktop/alejandraluaces.github.io/source/stylesheets/05-organisms/_global.scss */
  a:hover .icon {
    fill: #FF6347;
    -webkit-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out; }
